* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: sans-serif;
}

.app {
  margin: 5rem auto;
  width: 50rem;
  height: 64.3rem;

  border: 10px solid #999;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
}

.options {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 700;

  background-color: #ddd;
}

header {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.mine,
.time {
  border: 3px solid #999;
  padding: 5px;

  width: 5rem;
  text-align: center;

  background-color: goldenrod;
}

.emoticon_sad,
.emoticon_smile {
  width: 4rem;
  height: 4rem;

  cursor: pointer;
  padding: 2px;
}

.emoticon_sad {
  background-color: red;

  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #4c0000;
}

.emoticon_smile {
  background-color: greenyellow;

  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #66a80f;
}

.hidden {
  display: none;
}

.summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

header {
  width: 100%;
  /* height: 10rem; */

  font-size: 2rem;

  text-align: center;
}

main {
  border-top: 10px solid #999;
}

.board {
  width: 100%;
  height: 50rem;
  background-color: #ddd;

  display: grid;
  grid-template-columns: repeat(10, 1fr);

  position: relative;
}

.end_of_game {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;

  z-index: -1;

  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: orangered;
  line-height: 2;
  white-space: pre;
}

.field {
  border: 1px solid #aaa;
  cursor: pointer;
  background-color: #ddd;

  box-shadow: inset 3px 3px 0 #fff, inset -3px -3px 0 #aaa;

  position: relative;
}

.field p {
  position: absolute;
  font-size: 3rem;
  transform: translate(80%, 25%);
}
